# Logs
logs
*.log
npm-debug.log*

# Dependency directories (CRUCIAL - this skips the massive node_modules folder)
node_modules/
/node_modules

# Production build outputs (when you run npm run build)
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?